venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints/
*.ipynb_checkpoints/
.DS_Store
Thumbs.db


*.json
*.log
*.tmp
data/
output/
*.sqlite
*.db


*.lock


.vscode/
.idea/
*.iml


